<!-- Header -->
  <a name="about"></a>
  <div class="intro-header">
      <div class="container">

          <div class="row">
              <div class="col-lg-12">
                  <div class="intro-message">
                      <h1>Server Monitor Login</h1>
                      <h3>Introduce your credentials to access the dashboard</h3>
                      <hr class="intro-divider">
                      <div class="container">
                          <div class="card card-container">
                            <p id="profile-name" class="profile-name-card"></p>
                            <form class="form-signin">
                                <span id="reauth-email" class="reauth-email"></span>
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                            </form><!-- /form -->
                            <a href="#" class="forgot-password">
                                Forgot the password?
                            </a>
                          </div><!-- /card-container -->
                      </div><!-- /container -->
                  </div>
              </div>
          </div>

      </div>
      <!-- /.container -->

  </div>
  <!-- /.intro-header -->